<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">4Sale</span>
        <span class="main-header__title--orange">Informática</span>
    </h1>
    <div class="container-menu">
    <nav class="main-header--menu">
        <ul class="flex">
            <li><a>Produtos</a></li>
            <li><a>Contato</a></li>
            <li><a>
            <i class="fa-solid fa-cart-shopping"></i> 
            Carrinho 
            <span class="badge-carrinho">0</span>
            </a></li>
            <li><a><i class="fa-brands fa-facebook-f"></i></a></li>
            <li><a><i class="fa-brands fa-instagram"></i></a></li>
            <li><a><i class="fa-brands fa-twitter"></i></a></li>
        </ul>
    </nav>
    <form class="search-form">
        <input type="text">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    </div>
</header>